@using Microsoft.AspNetCore.Identity
@using System.Security.Claims;
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Inmobiliaria</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ABM_inmobiliaria.styles.css" asp-append-version="true" />


</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item dropdown ms-4 me-3">
                                <a class="nav-link dropdown-toggle navbar-brand" asp-area="" asp-controller="Usuario" asp-action="Perfil"
                                    role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                                    @if (((ClaimsIdentity)User.Identity).FindFirst("AvatarUrl") != null && ((ClaimsIdentity)User.Identity).FindFirst("AvatarUrl").Value != "")
                                    {
                                        var avatarUrl = ((ClaimsIdentity)User.Identity).FindFirst("AvatarUrl").Value;
                                        <img src="@avatarUrl" alt="Avatar del usuario" width="30" height="30"
                                            class="rounded-circle mr-2">
                                    }
                                    else
                                    {
                                        <img src="https://static.vecteezy.com/system/resources/previews/007/167/661/non_2x/user-blue-icon-isolated-on-white-background-free-vector.jpg"
                                            alt="Avatar por defecto" width="30" height="30" class="rounded-circle mr-2">
                                    }
                                    <span class="d-sm-inline text-dark font-weight-bold">@User.Identity.Name</span>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" asp-area="" asp-controller="Usuario" asp-action="Perfil">Perfil</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Usuario"
                                        asp-action="CambiarPassword">Cambiar contraseña</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" asp-area="" asp-controller="Usuario"
                                        asp-action="Salir">Salir</a>
                                </div>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Propietario"
                                asp-action="Index">Propietario</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Inquilino"
                                asp-action="Index">Inquilino</a>
                        </li>
                        <li class="nav-item nav-item dropdown">
                            <a class="nav-link text-dark dropdown-toggle" role="button" data-bs-toggle="dropdown"  aria-expanded="false" asp-area="">Inmueble</a>
                                <ul class="dropdown-menu">
                                      
                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-controller="Inmueble" asp-action="Index" style="font-size: small;">Lista de inmuebles</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-controller="Tipo" asp-action="Index" style="font-size: small;">Administrar tipo de inmuebles</a>
                                    </li>
                                </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Contrato"
                                asp-action="Index">Contrato</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Pago"
                                asp-action="Index">Pagos</a>
                        </li>

                        @if (User.IsInRole("Administrador"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link text-dark dropdown-toggle" asp-area="" asp-controller="Usuario" asp-action="Index"
                                    role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Gestionar usuarios
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" asp-area="" asp-controller="Usuario" asp-action="Index">Gestion
                                        de usuarios</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Usuario"
                                        asp-action="#">Reportes/detalles (No funciona)</a>
                                </div>
                            </li>
                        }

                         

                       

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 -inmobiliaria -
        </div>
    </footer>

    @* <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> *@
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @* <script src="https://cdn.jsdelivr.net/npm/bootstrap-native@4.3.2/dist/bootstrap-native-v4.min.js"></script> *@

    @* <script>
    document.addEventListener('DOMContentLoaded', function () {
    var datepicker = new Datepicker('#datepicker', {
    format: 'yyyy-mm-dd',
    autoclose: true
    });
    });
    </script> *@

    @* <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-qsiV8ZkP9wlT32HouJTbTpqtW6SAWB5iJxYhAxN1Tw1d1YGrOrPQR3Me8wbca2gO"
    crossorigin="anonymous"></script>*@
    <script src="~/js/site.js" asp-append-version="true"></script>
    @* <script>
    var fechaActual = new Date();
    var fechaFormateada = fechaActual.toISOString().split('T')[0];
    document.getElementById('datepicker').value = fechaFormateada;
    </script> *@
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- Incluye DataTables -->
    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>

    <script>
        // Inicializa DataTables
        $(document).ready(function () {
            $('#miTabla').DataTable();
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
